* {
  margin: 0;
  padding: 0; }

body {
  background: #5e5e66 url("../img/bg.png") left top fixed;
  color: #FFFFFF;
  font-family: 'Abel', sans-serif;
  font-size: 62.5%; }

a {
  color: #fff; }
  a:hover {
    color: #f6984a; }

a.btn {
  background: url("../img/button.png") center top no-repeat;
  color: #fff;
  font-size: 1.7em;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px #151516;
  display: block;
  height: 40px;
  width: 150px; }
  a.btn:hover {
    background-position: center bottom; }

body > h1,
section {
  margin: 0 auto;
  width: 600px; }

body > h1 {
  background: url("../img/logo.png") center top no-repeat;
  color: #9e9ea6;
  font-size: 2.0em;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 2px 2px #151516;
  height: 30px;
  margin-top: 10px;
  padding: 95px 0 0; }

i {
  background: url("../img/icon.png") center top no-repeat;
  font-style: normal;
  text-align: center;
  display: inline-block;
  height: 40px;
  width: 40px; }
  i span {
    display: block; }

section > h1 {
  background: url("../img/subtitle.png") bottom center no-repeat;
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 2px 2px #151516;
  padding: 20px 0 50px;
  margin: 0 0 -30px; }
section > aside {
  float: right;
  width: 290px; }
  section > aside .address {
    margin-left: 45px; }
section p {
  font-size: 1.6em;
  margin: 0 20px 10px;
  text-align: justify;
  text-shadow: 0 1px 1px #151516; }
section ul {
  font-size: 1.6em; }

#date {
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.5);
  display: inline-block;
  float: left;
  margin: 0 10px 0 80px;
  text-shadow: none;
  height: 80px;
  width: 80px; }
  #date .month {
    background: #f6984a;
    border-radius: 3px 3px 0 0;
    display: block;
    font-size: 1.6em;
    height: 20px;
    padding: 0 5px;
    line-height: 20px; }
  #date .day {
    background: #fff;
    border-radius: 0 0 3px 3px;
    color: #000;
    display: block;
    font-size: 5.0em;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    text-align: center; }

.meeting h1 {
  color: #f6984a;
  font-size: 2.2em;
  font-weight: normal;
  text-shadow: 0 2px 2px #151516; }
.meeting h2 {
  color: #9e9ea6;
  font-size: 1.8em;
  font-weight: normal;
  margin: 0 0 5px;
  text-shadow: 0 2px 2px #151516; }
.meeting p {
  clear: both;
  font-size: 1.6em;
  margin: 0 60px;
  padding-top: 10px;
  text-align: justify;
  text-shadow: 0 1px 1px #151516; }
.meeting ul {
  list-style-type: circle;
  margin: 10px 100px 0;
  text-shadow: 0 1px 1px #151516; }
.meeting .btn-register {
  clear: both;
  margin: 15px auto 10px;
  width: 150px; }

.map {
  border-radius: 3px;
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.5);
  float: right;
  margin: 5px 20px; }

em {
  color: #f6984a;
  font-style: normal; }

#social {
  list-style: none;
  margin: 15px 0 0 35px;
  text-shadow: 0 1px 1px #151516; }
  #social li {
    margin: 0 0 5px; }
    #social li a {
      display: block;
      height: 40px;
      line-height: 40px;
      text-decoration: none; }
      #social li a:hover i {
        background-position: center -40px; }
    #social li i {
      margin-right: 5px;
      vertical-align: middle; }
      #social li i > span {
        overflow: hidden;
        text-indent: -9999px; }
  #social #twitter span {
    background: url("../img/social-twitter.png") center center no-repeat; }
  #social #facebook span {
    background: url("../img/social-facebook.png") center center no-repeat; }
  #social #rss span {
    background: url("../img/social-rss.png") center center no-repeat; }

#sponsors {
  list-style: none; }
  #sponsors li {
    float: left;
    text-indent: -9999px;
    height: 70px;
    width: 33%; }
    #sponsors li a {
      display: block;
      height: 100%; }
  #sponsors #headspring {
    background: url("../img/sponsors/headspring.png") center center no-repeat;
    width: 50%; }
  #sponsors #pluralsight {
    background: url("../img/sponsors/pluralsight.png") center center no-repeat;
    width: 50%; }
  #sponsors #jetbrains {
    background: url("../img/sponsors/jetbrains.png") center center no-repeat;
    clear: both;
    float: none;
    margin: 0 auto;
    width: 250px; }

#footer {
  color: #9e9ea6;
  font-size: 1.4em;
  text-align: center;
  margin: 20px 0;
  text-shadow: 0 1px 1px #151516; }
  #footer a {
    color: #9e9ea6; }

::selection {
  background: #a9b5c6; }

::-moz-selection {
  background: #a9b5c6; }

::-webkit-selection {
  background: #a9b5c6; }

.group:before, .group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }
